# ---IDEs ---
.vscode/
.idea/
.vs/
*.vsidx
*.suo
*.user

# --- Python ---
__pycache__/
*.pyc
*.pyo

# --- Variables de entorno / secretos ---
*.env
config.json

# --- Logs ---
*.log

# --- Archivos de datos ---
#*.xlsx
#*.pdf

# --- Docker ---
*.pid

# --- Carpetas y files ---
VerificarCuotas/

# --- Supervisord ---
Supervisord/supervisord_vf_cuotas.conf